<div>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>User Id</th>
				<th>Album Id</th>
				<th>Title</th>
				<th>Url Id</th>
				<th>Thumbnail</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="photo in photos">
				<td>{{photo.id}}</td>
				<td>{{photo.userId}}</td>
				<td>{{photo.albumId}}</td>

				<td>{{photo.title}}</td>
				<td>{{photo.url}}</td>
				<td>{{photo.thumbnailUrl}}</td>

				<td><a ng-href="#/photo/{{photo.id}}">Details</a></td>

			</tr>
		</tbody>
	</table>
	<a ng-href="#/photo-new">New</a>

</div>
