<H2>Edit User Details</H2>
<div id="rcorners">
	<table>
		<tbody>
			<tr>
				<td>ID</td>
				<td>{{user.id}}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="input" ng-model="user.name" /></td>

			</tr>
			<tr>
				<td>User Name</td>
				<td><input type="text" name="input" ng-model="user.username" /></td>

			</tr>

			<tr>
				<td>email</td>
				<td><input type="text" name="input" ng-model="user.email" /></td>

			</tr>
			<tr>
				<td>Phone</td>
				<td><input type="text" name="input" ng-model="user.phone" /></td>

			</tr>

		</tbody>
	
	</table>
	<br/>
	<button ng-click="update()" >Save</button>
	
</div>
